.main-card, .breadcrumb {
    width: fit-content;
    min-width: 400px;
    margin: 20px auto;
}

.full-width {
    width: 100%;
}

.submit-form-button {
    width: 100%;
}

.errors {
    margin-bottom: 10px;
    background-color: #f44336;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.errors h4 {
    margin: 0;
}

.musicas {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.musica {
    display: flex;
    gap: 10px;
}

.remove-musica-button {
    margin-top: 10px;
}