mat-form-field {
    width: 100%;
}

.submit-form-button {
    width: 100%;
    margin-top: 20px;
}

.errors {
    margin-bottom: 10px;
    color: #f44336;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.errors h4 {
    margin: 0;
}

.musicas {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.musica {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.remove-musica-button {
    margin-top: 10px;
}