#toolbar {
    margin: 0;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(100, 17, 217);
    color: white;
}

#logo {
    margin-top: 5px;
    position: absolute;
    left: 20px;
}

h1 {
    margin: 5px auto;
    font-size: 1.5rem;
}