<div class="breadcrumb">
    <a mat-button color="primary" disabled>Playlists</a>
</div>

<mat-card class="main-card">
    <mat-card-title>Playlists</mat-card-title>
    <mat-card-content>
        <a mat-flat-button color="primary" routerLink="/new-playlist">Adicionar</a>

        <table mat-table [dataSource]="playlists">
            <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef>Nome</th>
                <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
            </ng-container>
            <ng-container matColumnDef="descricao">
                <th mat-header-cell *matHeaderCellDef>Descricao</th>
                <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
            </ng-container>
            <ng-container matColumnDef="acoes">
                <th mat-header-cell *matHeaderCellDef>Ações</th>
                <td mat-cell *matCellDef="let element">
                    <a mat-icon-button color="primary" matTooltip="Ver Músicas" routerLink="/lists/{{element.nome}}">
                        <mat-icon>library_music</mat-icon>
                    </a>
                    <button mat-icon-button color="warn" matTooltip="Remover" (click)="onDelete(element)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>
</mat-card>

