@import '~normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    height: 120vh;
    background-color: #efefef;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main-card {
    margin: 20px 10%;
    padding: 20px;
}

.main-card mat-card-content {
    padding: 0px !important;
}

.breadcrumb {
    margin: 20px 10%;
}